describe('<%= classify(name) %>Search', () => {
    it('should build <%= dasherize(name) %> search query params', () => {
        const search = new <%= classify(name) %>Search()
        search.fullName = 'fullsearch'
        search.shortName = 'shortsearch'

        const query = search.queryParameters()

        expect(query.toString()).toContain('fullName=fullsearch')
        expect(query.toString()).toContain('shortName=shortsearch')
    }) 
})