export class <%= classify(name) %> {
    id: number
<% for (let attribute of attributes) { %>
    <%= camelize(attribute.name) %><% if (attribute.nullable) { %>?<% }%>: <%= attribute.type %>
<% } %>
}